@import 'https://fonts.googleapis.com/css?family=Press+Start+2P';

body {
    background-image: url(background.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

nav {
    color: white;
    font-family: fantasy;
    margin-bottom: 115px;
}


.main {
    margin-left: 40%;
    margin-top: 2em;
    color: whitesmoke;
    display: flex;
    width: 400px;
    height: 600px;
    align-items: center;
    flex-direction: column;
    border: 4px solid padding, 10px;
    font-family: fantasy;
}

.num2,
.num1 {
    padding: 10%;
}

.option {
    width: 200px;
    border-radius: 15px;
    border: 4px solid black;
    background-color: transparent;
    color: white;
    margin-bottom: 10px;
    font-family: fantasy;
    margin-left: 20%;

}

.start {
    font-family: fantasy;
    margin-left: 50%;
    width: 200px;
    height: 200px;
    border-radius: 15px;
}

/* Popup container - can be anything you want */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* The actual popup */
.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}
/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}
/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}
/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}
@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

/* Rony: HP bar style */
progress {
    -webkit-appearance: none;
    appearance: none;
    border: 2px solid black;
    border-radius: 15px;
    width: 100px;
}

progress[value]::-webkit-progress-bar {
    background-color: rgb(253, 236, 236);
    border-radius: 2px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}