@font-face {
    font-family: 'godfather';
    src: url('TheGodfather-v2.ttf');
  }
  @font-face {
  font-family: 'film';
    src: url('ACFilmstrip.otf');
  }
  .navbar-brand {
    font-family: godfather;
    font-size: 35px;
    /* background-color: rgb(37, 36, 36); */
  }

  .active:hover {
    -webkit-filter: grayscale(100%); /* Ch 23+, Saf 6.0+, BB 10.0+ */
    filter: grayscale(100%); /* FF 35+ */
  }

.mb-3 {
  font-family: 'Comic Neue', cursive;
  color: white;
  font-size: 30px;
  -webkit-text-stroke: 1.3px black;
  /* margin: 10px; */
  
}
  #film{
    
    font-family: film;
    font-size: 75px;
    color: rgb(0, 0, 0);
    -webkit-text-stroke: 0.0px;
  }
  .jumbo {
    background-image:url("login-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 5%;
  }

  button {
    background-color: rgba(255, 255, 255, .4);
     display: flex;
    flex-direction: row;
    margin-left: 50%;
    margin-top: 10%;
    position: center;
    /* justify-self: center; */
    /* align-items: center;
    justify-content: center; */
  }

/* Popcorn animation starts here */
/* this is an extra class to control the "play game button"
 .mypopcorn {
     display: flex;
    
  } */
  
  .popcorn{
    display: flex;
    margin-left: 35%;
    align-items: center;
    justify-content: center;
    width:140px;
    height:90px;
    padding: 10px;
    /* margin: 5px; */
 
}

#myBtn {
    position: absolute;
    top: 50%;
    left: 0%;
    height:90px;
    padding: 10px;
  }

  .fa-info-circle {
    font-size:75px;
}
  
  circle#popcrncirlce {
    fill: #FFE477;
    transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    -webkit-animation: rotate 1.5s cubic-bezier(.49,.05,.32,1.04) infinite alternate;
    animation: rotate 1.5s cubic-bezier(.49,.05,.32,1.04) infinite alternate;
    
  }

  @-webkit-keyframes rotate {
    50% {
      -webkit-transform: translate(0px, 100px);
    }
  }
  
  @keyframes rotate {
    50% {
      transform: translate(0px, 100px);
    }
  }


/* Pocorn anymation ends here */
  .dad {
    background-color: transparent;
  }
  .mom {
    color:white;
  } 

  .sis {
    color:white;
    border: 2px white solid;
  }
  .cards {
    display: flex;
    justify-content: center;
    background-color: rgba(230, 149, 44, 0.1);
  }
  .card {
    border: none;
  }
  .pap {
    font-size: 500%;
    margin-left: 30%;
    margin-bottom: 10%;
  }
  .mam {
    border: none;
  }

  body {font-family: Arial, Helvetica, sans-serif;}
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  }
  .modal-content {
    position: relative;
    background-color: rgb(254, 254, 254);
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    color: black;
  }
  /* Add Animation */
  @-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }
  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }
  /* The Close Button */
  .close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  .modal-header {
    font-family: godfather;
    padding: 2px 16px;
    background-color: rgb(107, 103, 103);
    color: white;
  }
  .modal-body {padding: 2px 16px;}
  .modal-footer {
    font-family: godfather;
    padding: 2px 16px;
    background-color: rgb(107, 103, 103);
    color: white;
  }